.verseNumber {
    font-family: "David";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 14pt;
    color: #808080;
    background-color:
        transparent;
    letter-spacing: normal;
    text-decoration: none;
    text-transform:
        none
}

.hebText {
    font-family: "David";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 22pt;
    color: #000000;
    background-color:
        transparent;
    letter-spacing: normal;
    text-decoration: none;
    text-transform:
        none
}

.hebHeader {
    font-family: "David";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 14pt;
    color: #000000;
    background-color:
        transparent;
    letter-spacing: normal;
    text-decoration: none;
    text-transform:
        none
}

.engHeader {
    font-family: "Times New Roman";
    font-style: normal;
    font-variant:
        normal;
    font-weight: normal;
    font-size: 12pt;
    color: #000000;
    background-color: transparent;
    letter-spacing: normal;
    text-decoration: none;
    text-transform: none
}