.c0 {
    font-family: "David";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 14pt;
    color: #808080;
    background-color:
        transparent;
    letter-spacing: normal;
    text-decoration: none;
    text-transform:
        none
}

.c1 {
    font-family: "David";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 22pt;
    color: #808080;
    background-color:
        transparent;
    letter-spacing: normal;
    text-decoration: none;
    text-transform:
        none
}

.c2 {
    font-family: "Times New Roman";
    font-style: normal;
    font-variant:
        normal;
    font-weight: normal;
    font-size: 14pt;
    color: #808080;
    background-color:
        transparent;
    letter-spacing: normal;
    text-decoration: none;
    text-transform:
        none
}

.c3 {
    font-family: "David";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 22pt;
    color: #000000;
    background-color:
        transparent;
    letter-spacing: normal;
    text-decoration: none;
    text-transform:
        none
}

.c4 {
    font-family: "Times New Roman";
    font-style: normal;
    font-variant:
        normal;
    font-weight: normal;
    font-size: 14pt;
    color: #000000;
    background-color:
        transparent;
    letter-spacing: normal;
    text-decoration: none;
    text-transform:
        none
}

.c5 {
    font-family: "David";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 14pt;
    color: #000000;
    background-color:
        transparent;
    letter-spacing: normal;
    text-decoration: none;
    text-transform:
        none
}

.c6 {
    font-family: "David";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 12pt;
    color: #000000;
    background-color:
        transparent;
    letter-spacing: normal;
    text-decoration: none;
    text-transform:
        none
}

.c7 {
    font-family: "Times New Roman";
    font-style: normal;
    font-variant:
        normal;
    font-weight: normal;
    font-size: 10pt;
    color: #000000;
    background-color: transparent;
    letter-spacing: normal;
    text-decoration: none;
    text-transform: none
}

.c8 {
    font-family: "Times New Roman";
    font-style: normal;
    font-variant:
        normal;
    font-weight: normal;
    font-size: 12pt;
    color: #000000;
    background-color: transparent;
    letter-spacing: normal;
    text-decoration: none;
    text-transform: none
}